*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFFFFF;
}


.navi{
    background-color: #DE2918;
    overflow: hidden;
}
.btn-1:hover{
    background-color: #030907;
    transition: 0.5s;
}
.btn-1{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 8px 30px;
    border-radius: 25px;
    color: #fff;
}
.icon{
    margin-left: 20px;
    font-size: 18px;;
    color: #fff;;
}
.icon:hover{
    color:  #050100;
    transition: 0.3s;;
}
#section-1 .crsl .img{
    /* border: 2px solid green; */
    background-color: #D62918;
}
#section-1 {
    z-index: -1;
    overflow: hidden;
    
    /* border: 2px solid red; */
}
.article{
    margin-bottom: 100px;
}
.work{
    border: 2px solid green;
    z-index: -1 ;
}
.gaazi{
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 2px solid  green;
}
.sli{
    /* margin-top: 10rem; */
    height: 450px;
    padding: 50px 0px 0 0 ;
}
.slider .img-box .img{
    width: 100%;
    height: 100%;
}

.sli h3{
    font-size: 2rem;
    font-weight: bold;
}
.sli h1{
    font-size: 2.5rem;
    font-weight: bold;
}
.sli p{
    font-size: 14px;
}
.sli .btn-two{
    background-color: #000000;
    color: #fff;
    border-radius: 25px;
    padding: 8px 30px;
}
.sli .btn-three{
    background-color: #F6F7F9;
    color: #000;
    border-radius: 25px;
    padding: 8px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.sli .btn-two:hover {
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    transition: .5s;;
    color: #fff;
}
.sli .btn-three:hover {
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    transition: .5s;;
    color: #000;
}
.slider .col-one{
    background-color: #030907;
    padding: 25px 30px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid #fff;
    border-radius: 15px 15px 0 0;
}
.slider .col-one:hover{
    background-color: #F7F8FA;
    color: #030907;
    transition: .5s;;
}
.slider .col-one i{
    font-size: 22px;
}
/* .article start  */

.article{
    padding: 50px 0px 0 0 ;
    overflow: hidden;
}
.article h3{
    color: #000;
    font-weight: bold;
}
.article p{
    color: #000;
    font-weight: bold;
    font-size: 14px;
}
.article .btn-four{
    background-color: #D72A19;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 45px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.article .btn-four:hover{
    background-color: #000;
    color: #fff;
    transition: .5s;
}
.article .btn-five{
    background-color: #000000;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 45px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.article .btn-five:hover{
    background-color:#D72A19;
    color: #fff;
    transition: .5s;
}
.article .btn-three{
    background-color: #000000;
    color: #fff;
    border-radius: 25px;
    padding: 8px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.article .btn-three:hover {
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    transition: .5s;;
    color: #fff;
}
.article .img-col .img{
   width: 100%;
   height: 100%;
}

/* gallery :start */

.offer{
    padding: 150px 0px 150px 0 ;
    overflow: hidden;
    background-color: #000;
    border-radius: 280px 0px 280px 0px;
}
.offer h6{
    color: #D72A18;
    font-weight: bold;
}
.offer h3{
    color: #fff;
    font-weight: bold;
}
.offer p{
    color: #fff;
    font-size: 14px;
}
.offer .gllry-box{
    display: flex;
    justify-content: space-between;
    /* padding: 15px 15px; */
   
}
.offer .gllry-box .col-boxs{
    background-color: #fff;
    /* border: 10px solid #000; */
}
.offer .gllry-box .col-boxs:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    transition: .3s;
    color: #fff;
}
.offer .gllry-box .col-boxs h6{
    background-color: #DAD9D7;
    padding: 20px 45px;
    color: #000;
    font-weight: bold;
    
}
.offer .gllry-box .col-boxs .span{
    background-color: #D72A19;
    /* padding: 3px 138px; */
    color: #000;
    width: 100%;
    font-weight: bold;
    
}
.offer .gllry-box .col-boxs  h1{
    color: #D62918;
}
.offer .gllry-box .col-boxs  h5{
    color: #000;
}
.offer .gllry-box .col-boxs  p{
    color: #000;
}
.bt-box{
    background-color: #000000;
}
.bt-box .btn-six{
    background-color: #FFFFFF;
    font-weight: bold;
    border-radius: 25px;
    font-size: 14px;
    padding: 8px 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.bt-box .btn-six:hover{
    background-color: #D72A19;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: 0.3s;
}

/* service are */

.service-area{
     overflow: hidden;
     background-image: url(./images/earth.gif);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.09); */
    
}
.service-area h4{
    color: #000;
    
}
.sub-area{
    /* background-color: #D72A18; */
    padding: 120px 80px;
    /* border-radius: 200px 200px 200px 200px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}
.email{
    display: flex;
    justify-content: center;
}
.email .email-box{
    padding: 10px 60px;
    border: none;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    outline: none;
    border-radius: 25px 0px 0 25px;
}
.email .btn-seven{
    border: 4px solid  #fff;
    padding: 10px 50px;
    border-radius: 0px 25px 25px 0px;
    outline: none;
    background-color: #000;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.email .btn-seven:hover{
    transition: .3s;
    color: #fff;
    border-color: #fff;
    background-color: #D62918;
}

/* clients start */

.clients{
    overflow: hidden;
}
.clients h1{
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
}

.profile-box .profile{
    width: 100%;
    height: 100%;

}
.profile-title h3{
    font-weight: bold;
    color: #000;
}
.profile-title p{
    color: #000;
    letter-spacing: 1px;
}


/* Subsscribe start */


.Subs{
    background-color: #D72A19;
    overflow: hidden;
    padding: 20px 45px;
    margin-top: 120px;
    
}
.subs-one{
    display: flex;
    justify-content: space-around;
}
.subs-one h4{
    font-weight: bold;
    color: #fff;
}
.subs-one .email-box{
        padding: 10px 60px;
        border: none;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        outline: none;
        border-radius: 25px;
}
.subs-one .btn-seven{
    border: 4px solid  #fff;
    padding: 10px 50px;
    border-radius: 25px;
    outline: none;
    background-color: #000;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.subs-one .btn-seven:hover{
    background-color: #D62918;
    border: 4px solid #fff;
    transition: 0.3s;
}

/* ,footer :start */
.footer{
    background-color: #313131;
    overflow: hidden;
    color: #fff;
    padding: 60px 0;
}
.footer ul li:hover{
    margin-left: 5px;
    transition: .5s;
}
.footer i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #313131;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.footer i:hover{
    background-color: #D72A19;
    color: #fff;
    transition: 0.3s;
}


.cpoyright h6 a{
    padding: 2px 20px;
    color: red;
}

.footer ul li{
    text-decoration: none;
    list-style: none;
}